# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
**/.env

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Database / local runtime
*.sqlite3
*.db


venv/
__pycache__/
*.pyc
.env
.deepface/
*.h5
*.pkl